.groupBar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 5px;
  /* border: 2px solid red */
}

.parentDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px;
  /* border: 2px solid red; */
}

.childParentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  /* border: 2px solid green; */
}